.Menu {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100vw;
    border-radius: 0;
}

.MenuList {
    list-style-type: none;
    height: 100%;
    position: absolute;
    right: 50px;
    top: 5px;
}

.MenuLink {
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

.MenuLink:hover {
    color: gray;
    cursor: crosshair;
}

a {
    text-decoration: none;
    color: white;
}