.Body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.Tile {
    /* width: 19%;
    padding-top: 19%; */
    width: 75%;
    height: 50px;
    top: 40px;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.Tile:hover {
    opacity: 0.7;
    cursor: crosshair;
}

p {
    position: absolute;
    top: 0;
    left: 5px;
    bottom: 0;
    right: 0;
    font-family: 'Courier New', Courier, monospace;
}

.Menu {
    background-color: black;
    color: white;
    /* display: flex;
    justify-content: space-between; */
    position: relative;
    height: 80px;
    width: 100vw;
}

a:hover {
    cursor: crosshair;
    border-bottom: 2px solid white;
}

a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}