.Body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 80%;
    margin-left: 100px;
}

.Tile {
    background-color: #f3cfb3;
    width: 19%;
    padding-top: 19%;
    top: 65px;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.Tile:hover {
    opacity: 0.5;
    cursor: crosshair;
}

p {
    position: absolute;
    top: 0;
    left: 5px;
    bottom: 0;
    right: 0;
}