.App-header {
  position: absolute;
  top: 250px;
  left: -250px;
}

h1 {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  font-size: 80px;
}
