nav {
    background-color: black;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    padding: 10px;
    display: block;
    width: 100vw;
    height: 30px;
}